@import "variable";

* {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::selection {
    background: $--selection-color;
    color: $--font-color;
  }

  ::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.d-flex{
  display: flex;
}

.row-reverse{
  flex-direction: row-reverse;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.wrap {
  flex-wrap:wrap;
}

.z-0 {
  z-index:0
}


.context {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  p {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}